<% wrap_layout "base" do %>
	<body class="homepage">		<!-- Header Wrapper -->
		<div id="header-wrapper">
			<div class="5grid 5grid-container">
				<div class="row">
					<div class="12u">
						<header><%= partial "header" %></header>
					</div>
				</div>
			</div>
		</div>

		<div id="main-wrapper">
			<div class="main-wrapper-style2">
				<div class="inner">
					<div class="5grid 5grid-container">
						<div class="row">
							<div class="12u 5grid-cell-mainContent">
								<div id="content">
									<article><%= yield %></article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer-wrapper"><footer id="footer" class="5grid 5grid-container"><%= partial "footer" %></footer></div>
	</body>
<% end %>
