<h2><strong>ZeroFour:</strong> A free responsive site template<br />
built on HTML5 and CSS3 by <a href="http://html5up.net">HTML5 UP</a></h2>
<p>Does this statement make you want to click the shiny blue button?</p>
<a href="#" class="button button-big button-icon button-icon-check">Yes it does</a>
