<div class="main-wrapper-style1">
	<div class="inner">

		<!-- Feature 1 -->
		<section class="5grid 5grid-container box-feature1">
			<div class="row">
				<div class="12u">
					<header class="first major">
						<h2>This is an important heading</h2>
						<span class="byline">And this is where we talk about why we’re <strong>pretty awesome</strong> ...</span>
					</header>
				</div>
			</div>
			<div class="row">
				<div class="4u">
					<section>
						<span class="image image-full"><img src="images/pic01.jpg" alt="" /></span>
						<header class="second second-friends">
							<h3>OMFG Whats That</h3>
							<span class="byline">Nevermind its just a wall lol</span>
						</header>
					</section>
				</div>
				<div class="4u">
					<section>
						<span class="image image-full"><img src="images/pic02.jpg" alt="" /></span>
						<header class="second second-gear">
							<h3>Really Close Up</h3>
							<span class="byline">This looks pretty harmless</span>
						</header>
					</section>
				</div>
				<div class="4u">
					<section>
						<span class="image image-full"><img src="images/pic03.jpg" alt="" /></span>
						<header class="second second-chart">
							<h3>Pretty Blue LEDs</h3>
							<span class="byline">Just so many of them man</span>
						</header>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper 
					bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod 
					quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit 
					amet pulvinar. Nam nec turpis.</p>
				</div>
			</div>
		</section>

	</div>
</div>