---
layout: homepage
title: Home
---

				<div class="6u">
					<section class="pad-right">
						<header class="major">
							<h2>And this is a subheading</h2>
							<span class="byline">It’s important but clearly not *that* important</span>
						</header>
						<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
						Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
						Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi 
						consequat etiam.</p>
						<footer>
							<a href="#" class="button button-medium button-icon button-icon-rarrow">Let's do this</a>
						</footer>
					</section>
				</div>
				<div class="6u">
					<section class="pad-left">
						<header class="major">
							<h2>This is also a subheading</h2>
							<span class="byline">And is as less important as the other one</span>
						</header>
						<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
						Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
						Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi 
						consequat etiam.</p>
						<footer>
							<a href="#" class="button button-medium button-alt button-icon button-icon-info">Wait, what?</a>
						</footer>
					</section>
				</div>

